.cardsContainer{
    width: 100%;
    height: 100%;
    background-color: transparent;

    padding: 0 0 2rem 0;
}
.filterContainer{
    background-color: black;
    display: inline-flex;
    width: 100%;
    height: 4vh;
    padding: 0 0 1rem 0;
    justify-content:flex-end;
    align-items: stretch;
}

.cardsBox{
    background-image: url("../Cards/planeta.webp");
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-evenly;
    margin: 1rem 0 ;
    padding-top: 50px;
}

.filterAndOrder{
    margin-left: 1rem;
    border-radius: 10px;
    border:none;
    background: rgb(19,19,20);
  background: radial-gradient(circle, rgba(19,19,20,1) 0%, rgba(18,18,74,0.8015581232492998) 100%);
    color: #ffffff;
    font-size: large;
    cursor: pointer;
    border: white 1px solid;
}
.filterAndOrder:last-of-type{
    margin-right: 0.8rem;
    background-color: green;
}

.filterAndOrder:first-of-type{
    margin-left: 0;
}
.filterAndOrder:hover{
    border: green 1px solid;
}

.filterAndOrder option{
    background-color: blue;
}